<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>
      <a href="/daftarbuku/add" class="btn btn-primary">Tambah data contact</a>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">judulbuku</th>
            <th scope="col">terbit</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <% if (daftarbuku.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger" role="alert">Buku tidak ada.</div>
            </td>
          </tr>
          <% } %> <% daftarbuku.forEach((buku, i) => {i++ %>
          <tr>
            <th scope="row"><%= i++ %></th>
            <td><%= buku.judulbuku %></td>
            <td><%= buku.terbit %></td>
            <td>
              <a href="./daftarbuku/<%= buku.judulbuku %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-square-fill"></i> detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
