<h1>ini adalah halaman index</h1>
<h3>user adalah <%= user %></h3>

<h3>daftar mahasiswa</h3>
<% if (mahasiswa.length<1) { %>
<p>daftar mahasiswa masi kosong</p>
<% } else { %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li><%= mhs.nama %></li>
  <li><%= mhs.email %></li>
</ul>
<% }); %> <% } %>
