<div class="container mt-3">
  <% if (lists.length === 0) { %>
  <div class="alert alert-danger" role="alert">Daftar Buku tidak ada </div>
  <% } %> <% lists.forEach(list => { %>
    
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title"><%= list.judulbuku %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary"><%= list.penulis %></h6>
      <a href="/list/<%= list.judulbuku %>" class="card-link">Info Lanjutan</a>
    </div>
  </div>
  <% }) %>
</div>
